<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset=utf-8>
		<title>{title}</title>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">/script>
		<![endif]-->
		<style>
			body { margin:100px; }
			article, aside, figure, footer, header, hgroup, menu, nav, section { 
			display:block;
			}
		</style>
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="http://cachedcommons.org/cache/jquery-cookie/0.0.0/javascripts/jquery-cookie.js"></script>
		<script type="text/javascript" src="{js_src}"></script>

		<link href="{css_src}" rel="stylesheet">
	
	</head>
	
	<body>
		<div id="notifications">
		{notifications}
		</div>
		<div id="charStats">
			Your stats:
			<table border="1" id="table">
				{stats}
					<tr>
						<td>{key}</td>
						<td>{value}</td>
					</tr>
				{/stats}
			</table>
		</div>
		<hr />
		<div id="paragraph">
			<div id="text">
			{paragraph}
			</div>
			<div id="links">
			{links}
				<a href="#" id="{destination}">{text}</a><br />
			{/links}
			</div>
		</div>
	</body>	
</html>