<div class="span9" id="onEditStory">	
	<div class="growlUI success" style="display:none">
		<h2>Story successfully generated !</h2>
    </div>
	
	<div class="growlUI successMxit" style="display:none">
		<h2>New version live on Mxit now !</h2>
    </div>
	<h2>Add some paragraphes</h2>
	<div class="input-prepend">
		<span class="add-on">Title</span><input class="span9" type="text" id="title" name="title" value="{title}" /><a class="btn">Update</a>
	</div>
	
	<div class="btn-toolbar">
		<div class="btn-group">
			<a href="#addParagraphModal" class="btn btn-primary" data-toggle="modal">Add a new paragraph</a>
		</div>
		<div class="btn-group">
			<a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
				Generate the story
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#" id="{sid}" class="generateHtml">Publish online</a></li>
				<li><a href="#" id="{sid}" class="generateMxit">Publish on Mxit</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
				Edit characters stats
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#editMainCharacterModal" data-toggle="modal" id="editMainCharacter">Edit main character</a></li>
				<li><a href="#editOthersCharacterModal" data-toggle="modal" id="editOthersCharacters">Edit others characters</a></li>
			</ul>
		</div>
	</div>
	<br />
	<br />
	
	{paragraphes}
	<div class="paragraph span8 well" id="{_id}">
		{text}
		<a href="#addLinkModal" class="btn addLinkModal" style="float:right;" data-toggle="modal">Add link</a>
	</div>
	{/paragraphes}

	<div class="modal hide fade" id="addParagraphModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Add a new paragraph</h3>
		</div>
		<div class="modal-body">
			<textarea class="span12" rows="19" cols="30" id="newParagraph"></textarea>
			<label class="checkbox">
				<input name="isFirstParagraph" id="isFirstParagraph" type="checkbox" />
				First paragraph of the story (will erase the old one)
			</label>
			<label class="checkbox">
				<input name="isEnd" id="isEnd" type="checkbox" />
				This paragraph is an end of the story
			</label>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary addParagraph" id="{sid}" data-dismiss="modal">Save changes</a>
		</div>
    </div>
	
	<div class="modal hide fade" id="addLinkModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Add a new link</h3>
		</div>
		
		<div class="modal-body">	
			Text: <input type="text" id="choice" name="choice" class="span9" /><br />
			Link to:<br />
			
			{paragraphesToLink}
			<div class="paragraphToLink span8 well chooseDest" id="{_id}">
				{text}
			</div>
			{/paragraphesToLink}
		</div>		
		
		<div class="modal-footer">
			<a href="#" class="btn btn-primary addLink" id="{sid}" data-dismiss="modal">Save changes</a>
		</div>
	</div>

	<div class="modal hide fade" id="editMainCharacterModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Edit main character stats</h3>
		</div>
		<div class="modal-body">
			<div class="currentStats">
				<div class="mainCharStat">
					{mainCharStats}
						<div class="input-prepend charStat">
							Name: <input type="text" class="key span4" value="{key}" />
							Value: <input type="text" class="value span4" value="{value}" />
							<a class="btn" href="#" id="addStat"><i class="icon-plus"></i></a>
							<a class="btn" href="#" id="rmStat"><i class="icon-minus"></i></a>
						</div>
					{/mainCharStats}
					<div class="input-prepend charStat">
						Name: <input type="text" class="key span4" />
						Value: <input type="text" class="value span4" />
						<a class="btn" href="#" id="addStat"><i class="icon-plus"></i></a>
						<a class="btn" href="#" id="rmStat"><i class="icon-minus"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary updateMainCharStats" id="{sid}" data-dismiss="modal">Save changes</a>
			<a href="#" class="btn btn-primary cancelMainCharStats" id="{sid}" data-dismiss="modal">Cancel</a>
		</div>
    </div>
	
	<div class="modal hide fade" id="editOthersCharacterModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Edit other characters stats</h3>
		</div>
		<div class="modal-body">
			<div class="selectChar">
				<select class="otherCharSelector">
					<option value="-1">Select a char</option>
					{statsOthersChars}
						<option value="{_id}">{name}</option>
					{/statsOthersChars}
				</select>
			</div>	
			or <input type="button" id="addNewChar" class="btn" value="Add a new character" />
			<div class="editOtherChar">
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary validateAddNewChars" id="{sid}" data-dismiss="modal">Save changes</a>
			<a href="#" class="btn btn-primary cancelEditOtherChars" id="{sid}" data-dismiss="modal">Cancel</a>
		</div>
    </div>
</div>