<div class="span9" id="reader">
	
	<h2>{title}</h2>
	
	<div id="notifications">
	{notifications}
	</div>
	
	<div id="story">
		
		<div id="stats">
			<hr />
			Your stats: 
			<table border="1">
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
				{stats}
				<tr>
					<td>{key}</td>
					<td>{value}</td>
				</tr>
				{/stats}
			</table>
			<hr />
		</div>
		
		<div id="paragraph">
			<div id="text">
			{paragraph}
			</div>
			<div id="links">
			{links}
				<a href="{baseUrl}index.php/browse/story/{sid}/{origin}/{_id}">{text}</a><br />
			{/links}
			</div>
			<div id="restart">
			{restart}
			</div>
		</div>
	
	</div>
	
</div>